@model CarLocadora.Models.Models.VeiculoModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>VeiculoModel</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="DataInclusao" />
            <input type="hidden" asp-for="DataAlteracao" />

            <partial name="_Form"/>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar a Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
