@{
    ViewData["Bem Vindo"] = "Car Locadora!";
}

<div class="text-center">
    <h1 class="display-12">Bem Vindo</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">A Melhor Locadora de Veiculos</a>.</p>
</div>
