@model CarLocadora.Models.Models.VistoriaModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Vistoria</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DataInclusao" />
            <input type="hidden" asp-for="DataAlteracao" />
            <partial name="_Form" />

            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar a Lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
